# fly.toml app configuration file generated for jb-site on 2026-01-20T14:23:04-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jb-site'
primary_region = 'lax'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

# Health check tuned for native startup
[[http_service.checks]]
  grace_period = "30s"
  interval = "10s"
  timeout = "2s"
  method = "GET"
  path = "/actuator/health/readiness"
  protocol = "http"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
