<div class="panelInner">
    <h3>Music</h3>
    <p class="muted">Piano covers and music videos.</p>

    <div class="miniGrid">
        <div class="miniCard">
            <h4>SoundCloud</h4>
            <p class="muted">Songs from various genres, reinterpreted for solo piano.</p>
            <ul>
                <li>
                    <a class="link" href="https://soundcloud.com/jaybalangue" rel="noopener">Open SoundCloud →</a>
                </li>
            </ul>
        </div>

        <div class="miniCard">
            <h4>YouTube</h4>
            <p class="muted">Piano versions presented through creative music videos.</p>
            <ul>
                <li>
                    <a class="link" href="https://www.youtube.com/@jaybalangue" rel="noopener">Open YouTube →</a>
                </li>
            </ul>
        </div>

        <div class="miniCard">
            <h4>Original Music</h4>
            <p class="muted">Original compositions available now.</p>
            <ul>
                <li>
                    <a class="link" href="https://open.spotify.com/artist/170RZKQeVoxIirbs582Qab" rel="noopener">Open Spotify →</a>
                </li>
                <li>
                    <a class="link" href="https://music.apple.com/us/artist/jay-balangue/1883982812"
                       rel="noopener">Open Apple Music →</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Spotify embed -->
<iframe allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" allowfullscreen=""
        data-testid="embed-iframe"
        height="352" loading="lazy" src="https://open.spotify.com/embed/track/7azs9DpY5w82xMi5W4Qkm5?utm_source=generator&theme=0&si=6b8bdce2c5bb4c92"
        style="border-radius:12px" width="100%"></iframe>

<!-- Spotify embed -->
<iframe allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" allowfullscreen=""
        data-testid="embed-iframe"
        height="352" loading="lazy"
        src="https://open.spotify.com/embed/track/62fQavrfHBeiuhJoKImCxB?utm_source=generator&theme=0&si=06d325d69e2346ca"
        style="border-radius:12px" width="100%"></iframe>
